div{
	
font-size: 20px;
text-align: right; 
padding-right: 5px; 
background-color: purple; 
font-family: Gill Sans, sans-serif;
}

.button{
	
	padding-right: 10px; 
	color: black;
	
	
	
}

.button:hover{
	
 color: white;	
 text-decoration: none;		
	
}

