div{
	
font-size: 20px;
text-align: right; 
padding-right: 5px; 
background-color: #660066; 
font-family: Gill Sans, sans-serif;
}

.button{
	
	padding-right: 10px; 
	color: white;
	
	
	
}

.button:hover{
	
 color: white;
 box-shadow: 0px 5px #330033; 
 text-decoration: none;		
	



